:root {
    --light_backgroundColor: rgb(236, 240, 243);
    --light_textColor: #3B3D43;
    --light_lightShadowColor: rgb(255, 255, 255);
    --light_darkShadowColor: rgb(209, 217, 230);

    --dark_backgroundColor: rgb(48, 49, 53);
    --dark_textColor: rgb(232, 232, 232);
    --dark_lightShadowColor: rgb(62, 63, 70);
    --dark_darkShadowColor: rgb(35, 35, 35);

    --backgroundColor: var(--light_backgroundColor);
    --textColor: var(--light_textColor);
    --lightShadowColor: var(--light_lightShadowColor);
    --darkShadowColor: var(--light_darkShadowColor);


    --shadowDistance_neumorphic_medium: 13px;
    --shadowBlur_neumorphic_medium: 20px;

    --shadowDistance_neumorphic_small: 5px;
    --shadowBlur_neumorphic_small: 8px;


    --shadowDistance_neumorphicButton_medium: 5px;
    --shadowBlur_neumorphicButton_medium: 10px;

    --shadowDistance_neumorphicButton_small: 2px;
    --shadowBlur_neumorphicButton_small: 4px;

}

body {
    font-family: 'Ubuntu Mono';
    background: var(--backgroundColor);
    color: var(--textColor);
    margin: 20px;
}

.title {
    width: 100%;
    text-align: center;
}

.neumorphic_medium {
    margin: 10px;
    padding: 25px 25px 25px 25px;
    border-radius: 40px;
    min-width: 230px;
    background: var(--backgroundColor);
    box-shadow: var(--shadowDistance_neumorphic_medium) var(--shadowDistance_neumorphic_medium) var(--shadowBlur_neumorphic_medium) var(--darkShadowColor),
        calc(-1 * var(--shadowDistance_neumorphic_medium)) calc(-1 * var(--shadowDistance_neumorphic_medium)) var(--shadowBlur_neumorphic_medium) var(--lightShadowColor);
}

.neumorphic_table {
    margin: 10px;
    padding: 25px 25px 25px 25px;
    border-radius: 20px;
    min-width: 230px;
    background: var(--backgroundColor);
    box-shadow: var(--shadowDistance_neumorphic_medium) var(--shadowDistance_neumorphic_medium) var(--shadowBlur_neumorphic_medium) var(--darkShadowColor),
        calc(-1 * var(--shadowDistance_neumorphic_medium)) calc(-1 * var(--shadowDistance_neumorphic_medium)) var(--shadowBlur_neumorphic_medium) var(--lightShadowColor);

}

.neumorphic_small {
    padding: 8px;
    border-radius: 20px;
    margin: 7px;
    background: var(--backgroundColor);
    box-shadow: var(--shadowDistance_neumorphic_small) var(--shadowDistance_neumorphic_small) var(--shadowBlur_neumorphic_small) var(--darkShadowColor),
        calc(-1 * var(--shadowDistance_neumorphic_small)) calc(-1 * var(--shadowDistance_neumorphic_small)) var(--shadowBlur_neumorphic_small) var(--lightShadowColor);
}

.neumorphicButton_medium {
    font-size: 16px;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    border: none;

    background: var(--backgroundColor);

    box-shadow: var(--shadowDistance_neumorphicButton_medium) var(--shadowDistance_neumorphicButton_medium) var(--shadowBlur_neumorphicButton_medium) var(--darkShadowColor),
        calc(-1 * var(--shadowDistance_neumorphicButton_medium)) calc(-1 * var(--shadowDistance_neumorphicButton_medium)) var(--shadowBlur_neumorphicButton_medium) var(--lightShadowColor);
}


.neumorphicButton_medium:active {
    box-shadow: inset var(--shadowDistance_neumorphicButton_medium) var(--shadowDistance_neumorphicButton_medium) var(--shadowBlur_neumorphicButton_medium) var(--darkShadowColor),
        inset calc(-1 * var(--shadowDistance_neumorphicButton_medium)) calc(-1 * var(--shadowDistance_neumorphicButton_medium)) var(--shadowBlur_neumorphicButton_medium) var(--lightShadowColor);

}

.neumorphicButton_small {
    font-size: 12px;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    border: none;

    background: var(--backgroundColor);

    box-shadow: var(--shadowDistance_neumorphicButton_small) var(--shadowDistance_neumorphicButton_small) var(--shadowBlur_neumorphicButton_small) var(--darkShadowColor),
        calc(-1 * var(--shadowDistance_neumorphicButton_small)) calc(-1 * var(--shadowDistance_neumorphicButton_small)) var(--shadowBlur_neumorphicButton_small) var(--lightShadowColor);
}

.neumorphicButton_small:active {
    box-shadow: inset var(--shadowDistance_neumorphicButton_small) var(--shadowDistance_neumorphicButton_small) var(--shadowBlur_neumorphicButton_small) var(--darkShadowColor),
        inset calc(-1 * var(--shadowDistance_neumorphicButton_small)) calc(-1 * var(--shadowDistance_neumorphicButton_small)) var(--shadowBlur_neumorphicButton_small) var(--lightShadowColor);

}


input[type="time"] {
    padding: 6px;
    margin: 4px;
    background: var(--backgroundColor);
    color: var(--textColor);
    border: none;
    border-radius: 20px;

    box-shadow: inset 2px 2px 4px var(--darkShadowColor),
        inset -2px -2px 4px var(--lightShadowColor);
}

input[type="time"]::-webkit-calender-picker-indicator {
    filter: invert(100%);

}

input[type="checkbox"] {
    /*TODO*/
    color: var(--backgroundColor);
}

.buttonInvisible {
    padding: 6px 1px 0px 4px;

    margin: 0;

    font-size: medium;
    background-color: transparent;

    color: var(--textColor);
    border: none;
}

.topLeft {
    position: absolute;
    top: 20px;
    left: 20px;
}

.controllElementTitle {
    font-size: larger;
    font-weight: bold;
    text-decoration: underline 2px;
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
}


thead {
    font-size: large;
}

table {
    border-collapse: collapse;
    width: 99%;
}

.fullWidth {
    width: 100%;
}


table td,
table th {
    border: 1px solid var(--darkShadowColor);
}

table thead tr:first-child td {
    border-top: 0;
}

table thead tr:first-child th {
    border-top: 0;
}

table tbody tr:last-child td,
table tbody tr:last-child th{
    border-bottom: 0;
}

table tr th:first-child,
table tr td:first-child {
    border-left: 0;
}

table tr th:last-child,
table tr td:last-child {
    border-right: 0;
}

.tableHeadline {
    font-weight: bold;
    font-size: 19px;
    margin: 10px;
}

.tableCell {
    font-weight: normal;
    margin: 7px;
}

button {
    font-family: 'Cascadia Code';
    color: var(--textColor);
}

.title {
    font-size: larger;
    text-decoration: underline 2px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.horizontalFlexContainer {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.controllElementContent {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    height: 195px;
}

.centerItems {
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.horizontalFlexContainer::before {
    content: "";
}

.horizontalFlexContainer::after {
    content: "";
}

.controllElementContent::before {
    content: "";
}

.controllElementContent::after {
    content: "";
}

.font-size-15 {
    font-size: 15px;
}

.centered {
    width: 100%;
    text-align: center;
}


#time {
    /*padding: 6px;*/
    font-size: x-large;
}

.notBold {
    font-weight: normal;
}
